html,
body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #1D3557;
    padding: 1rem;
}

.landing-heading {
    font-size: 2rem;
    color: #EDF2F4;
    margin-bottom: 1rem;
}

.landing-description {
    font-size: 1.1rem;
    color: #ccdde4
}