.task-form-container {
  width: 60%;
}
.select-form-group {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
  margin-top: -10px;
  margin-bottom: -30px;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.task-form select {
  font-size: 16px;
  padding: 2px;
}

.select-label {
  font-size: 18px;
  font-weight: 500;
  margin-right: auto;
  padding-left: 2px;
}

.task-form button {
  font-size: 18px;
}