.project-section, .task-section {
    width: 100%;
}

.project-section h2, .task-section h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.sidebar-container form {
    width: 100%;
}

.project-dropdown {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 200px;
  font-size: 18px;
  font-weight: 500;
}

.project-dropdown select {
    font-size: 20px;
}

.project-section {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-section {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



