
.project-section, .task-section {
    width: 100%;
}

.project-section h2, .task-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.sidebar-container form {
    width: 100%;
}
.project-dropdown {
    padding-top: 70px;
}
