.main-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "a b";
  justify-self: center;
}

.projects-container {
  grid-area: b;
  /* background-image: linear-gradient(0deg, #8BC6EC 0%, #9599E2 100%); */
  background-color: #edf2f4;
}

.sidebar-container {
  grid-area: a;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  text-align: center;
  background-color: #abcaf1;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  width: 100%;
}

.project-search-input {
  width: 300px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 14px;
}